@use '../../../../assets/theme/_var.scss' as *;

.OtpIputs {

  label,
  .form-label {
    display: block;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0.8rem;

    span,
    sup {
      color: #fb3333;
    }
  }

  input {
    border-radius: .75rem;
    border: none;
    width: 16.666% !important;
    margin: 0 .25rem 0;
    height: 3.125rem;
    background: var(--cardbg);
    color: var(--black);

    &::placeholder {
      color: var(--textclr);
    }

    @media (max-width: 575px) {
      height: 4rem;
    }

    &:focus {
      border-color: var(--textclr);
      box-shadow: none;
      outline: none;
      color: var(--textclr);
    }
  }
}